.collection-pick {
}

.collection-pick-steam-category {
    float: left;
    margin-left: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.75em;
    /*
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    */
}