.game-deck {
    float: left; /* otherwise game deck refuses to coexist horizontally with side header  */
}

.game-row {
	display:none;
	float: right;
	clear: both;
	width: 100%;
}

.game-cell-filler {
	display:none;
	float: left;
	background-color: lightgray;
}

.collection-tile {
    background-color: navajowhite;
    border-style: double;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: 3px double #555;
    border-bottom: 3px double #555;
    padding: 5px;
    float: left;
    font-family: "Karla";
}

.game-tile {
	float: left;
	position: relative;
    margin: 5px;
    background-color: snow;
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
	font-family: "Karla";
}

.game-tile a {
	font-weight: lighter;
	text-decoration: none;	/* hide link underline */
}

.game-tile-large {
	/* */
}

.game-tile-regular {
	font-size: 75%;
}

.game-tile-inner {
	padding: 10px;
	padding-bottom: 4px;
}

.game-tile-inner-blurred {
	opacity: 0.2;
}

.game-tile-inner-loading-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 10;
	display: none;
}

.what-will-happen {
	background-color: springgreen;
}

.game-img {
	border-top: 2px solid #555;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 2px solid #555;
	width: 100%;
}
.game-tile-caption {
	text-align: center;
	margin-top: 2px;
}
.game-tile-command-bar {
	font-size: x-small;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 5px;
	border-top: dotted 1px crimson;
	background-color: whitesmoke;
}
.game-tile-command {
	border-top: dotted 1px lightgray;
	border-left: dotted 1px lightgray;
	border-bottom: inset gray 1px;
	border-right: inset gray 1px;
	padding: 2px;
	border-radius: 3px;
}

.more-button {
	float: right;
}

.more-button-text {
	font-family: monospace !important;
	font-size: small !important;
}

.collection-name {
    font-family: "Arvo";
    font-size: large;
    font-weight: bolder;
    color: crimson;
    padding: 0.25em;
    margin: 0em;
    text-align: center;
    background-color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    border-top: 1px solid #999;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    border-left: 1px solid #999;
}