body {
	background-color: White;
}

.segment {
    display: table;
    table-layout: fixed;
    width: 100%;
    clear: both;
    overflow: auto;
    padding: 0;
    background-color: PaleTurquoise ;
    margin: 10px auto;
    border: 1px;
    border-style: outset;
    border-color: navy;
    border-bottom-color: khaki;
}

.side-header {
    margin: 0;
    padding: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

.side-header-at-left {
    /*
    side-header-at-left.width + GAP = content-at-right.margin-left
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-left {
    float: left;
    text-align: right;
    border-right: 1px solid gray;
}

.side-header-at-right {
    /*
     side-header-at-right.width + GAP = content-at-left.margin-right
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-right {
    float: right;
    text-align: right;
    /*
    Can't get it right just yet...
    for now, relying on content-at-left.border-right :-p
    */
    /* border-left: 1px solid gray; */
}

.side-header-paragraph {
    margin: 0 0 0.6em 0;
}

.side-text { font-family: Arvo; font-size: 20px; font-weight: bold; color: darkred; }

.side-text-at-left  {text-shadow: -0.2em 0.2em 0.2em gray}
.side-text-at-right {text-shadow: 0.2em 0.2em 0.2em gray}

.side-links {
    font-size: 0.75em;
    font-family: Karla;
    margin-top: 1.5em;
    margin-bottom: 0em;
}
.side-links ul {
    padding-left: 0px;
    list-style:none;
}
.side-links a {
    text-decoration: none;	/* hide link underline */
}

.content {
    padding: 10px;
}

.content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.content-at-left {
    border-right: 1px solid gray;
    padding-right: 20px;
    /* float: left; // this makes the right border finish midways :-p */
}

.content-at-left {
    /*
    see: .side-header-at-right.width
    */
    margin-right: 106px;
}

.content-at-right {
    border-left: 1px solid gray;
    padding-left: 20px;
    /*	float: right;  // this pushes content down somehow :-p */
}

.content-at-right {
    /*
    see: .side-header-at-left.width
    */
    margin-left: 106px;
}

.footer {
    clear: both;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.instructions-and-explanations {
    font-family: Arvo;
}

.purpose-of-this-page {
    font-family: Arvo;
    font-size: x-large;
    color: coral;
}

a.target-button {
    display: inline-block;
    border-radius: 10px;
    border-color: LightSteelBlue;
    border-style: solid;
    background: LightYellow;
    margin: 1px;
    padding: 8px;	/* distance from text to border */
    text-decoration: none;	/* hide link underline */
    outline: none; /* hide dotted outline in Firefox */
}