.game-tile {
	display:none;
	background-color: snow;
	margin: 0 0 10px 10px; 
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
	font-family: "Karla";
//	font-family: "Montserrat Alternates";
}

.game-tile a {
	font-weight: lighter;
	text-decoration: none;	/* hide link underline */
}

.game-tile-large {
	float: left; 
	width: 38%;
}

.game-tile-regular {
	float: right; 
	width: 28%;
	font-size: 75%;
}

.game-tile-inner {
	padding: 10px;
}
.game-img {
	border-top: 2px solid #555;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 2px solid #555;
	width: 100%;
}
.game-tile-caption {
	text-align: center;
}

.more-button {
	margin: 0 0 0 40px; 
	padding: 4px;
	background-color: snow;
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
	border-radius: 10px;
	float: left;
}

.more-button a {
	text-decoration: none;	/* hide link underline */
}