.game-row {
	display:none;
	float: right;
	clear: both;
	width: 100%;
}

.game-cell {
	display:none;
	float: left;
}

.game-tile {
	display:none;
	background-color: snow;
	margin: 5px; 
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
	font-family: "Karla";
}

.game-tile a {
	font-weight: lighter;
	text-decoration: none;	/* hide link underline */
}

.game-tile-large {
	/* */
}

.game-tile-regular {
	font-size: 75%;
	float: right; 
}

.game-tile-inner {
	padding: 10px;
}
.game-img {
	border-top: 2px solid #555;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 2px solid #555;
	width: 100%;
}
.game-tile-caption {
	text-align: center;
}

.more-button {
	margin: 0 0 0 40px; 
	padding: 2px;
	background-color: brown;
	border: 1px solid #999;
	border-radius: 5px;
	float: right;
	font-family: "Karla";
	font-size: x-small;
	color: yellow;
}

.more-button a {
	text-decoration: none;	/* hide link underline */
	color: yellow;
}