.steamside-body-background
{
    --color_1: #1b2838;
    --color_2: #171a21;
    --image: linear-gradient(45deg, var(--color_1), var(--color_2));
    background-color: var(--color_2);
    background-image: var(--image);
    background-position: center;
    background-size: 100% 100%;
    -background-size: contain; /* preserve aspect ratio */
    background-repeat: repeat;
}

.steamside-kids-body-background {

    /*
    http://lea.verou.me/css3patterns/#zig-zag
    */

    background:
            linear-gradient(135deg, white 25%, transparent 25%) -50px 0,
            linear-gradient(225deg, white 25%, transparent 25%) -50px 0,
            linear-gradient(315deg, white 25%, transparent 25%),
            linear-gradient(45deg, white 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #EC173A;
}
