.command-box
{
	padding: 0.25em;
}

.command-text-input {
	font-size:24px;
	width: 99%;
	padding-left: 0.25em;
	margin-top: 1px;
}

.command-text-input:focus {
	background-color: Aquamarine;
}

.command-button {
	/* StackOverflow, you rock. */
	padding:0.1em 0.6em;
	border:1px solid #ccc;
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif;
	background-color:#f7f7f7;
	color:#333;
	-moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
	-webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
	box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	margin:0 0.1em;
	margin-right: 0;
	text-shadow:0 1px 0 #fff;
	line-height:1.4;
	white-space:nowrap;
}

.command-hint {
	padding: 0.2em;
    font-family: "Karla";
	font-size: x-small;
	border-width: 1pt;
	margin-left: 0;
}

.command-hint-special {
	color: coral;
}

.command-trouble {
	font-family: "Arial";
	font-size: xx-small;
	color: red;
	border-width: 1pt;
	margin-left: 2em;
	display: none;
}

.command-confirm
{
	color: red;
	font-weight: bold;
}

.command-label-span
{
	padding: 0.2em;
	padding-top: 0.1em;
	padding-bottom: 0;
}