.button-expand-card-deck, a.more-icon {
    font-size: x-small;
    padding-bottom: 0;
    padding-top: 2px;
}

.more-icon-container {
    position: relative;
    display: inline-block;
}

a.more-icon {
    position: absolute;
    bottom: 0;
    right: 4px;
}

.deck-unified {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: end;
}
