.game-tile {
    background-color: snow;
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
	border-radius: 0.4em;
	font-family: "Karla";
}

.game-tile a {
	font-weight: lighter;
	text-decoration: none;	/* hide link underline */
}

.game-tile-large {
	/* */
}

.game-tile-regular {
	font-size: 75%;
}

.game-tile-inner {
	padding: 10px;
	padding-bottom: 4px;
}

.game-tile-inner-blurred {
	opacity: 0.2;
}

.what-will-happen {
	background-color: springgreen;
}

.game-tile-command-bar {
	font-size: x-small;
	text-align: left;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 5px;
	border-top: dotted 1px crimson;
	background-color: whitesmoke;
}
.game-tile-command {
	border-top: dotted 1px lightgray;
	border-left: dotted 1px lightgray;
	border-bottom: inset gray 1px;
	border-right: inset gray 1px;
	padding: 2px;
	border-radius: 3px;
}

.game-unavailable {
	background-color: lightgray;
}

.more-button {
	float: right;
}

.more-button-text {
	font-family: monospace !important;
	font-size: small !important;
}

.game-tag {
	/* FIXME Should not be float (inverts order). Instead game-tag-list should be a flex */
    float: right;

    background-color: linen;    
    margin: 3px;
	font-size: x-small;
	padding: 2px;

	border-left: 2px outset #999;
	border-top: 1px solid #999;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
