.steamside-body-background
{
    background-size: 100%;
    background-image: url( 'http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/232430/e3df58e7dab4daad07342aa274e09b21ff4dd8a4.jpg' );
}

.page-header
{
	margin: 0px auto;
	width: 98%;
}
.page-header-logo-section
{
	float:left;
}
.page-header-logo
{
	float:left;
}
.page-header-stamp
{
	background-color: aquamarine;
	border-radius: 4px;
	border: crimson solid 2px;
	box-shadow: 0 0 0 1px navy;
	padding: 8px;
}
.page-header-name
{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
.page-header-name-text
{
	font-family: Jura;
	font-weight: bold;
	font-size: 2em;
	color: darkred;
}

.menu-wrapper
{
	font-family: Arvo;
	font-size: 1em;
	float: right;
	height: 50px;
	line-height: 50px;
}
.menu-wrapper ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
.menu-wrapper ul li {
	float: left;
	height: 50px;
	line-height: 50px;
}
.menu-wrapper ul .split {
	width: 1px;
	background: Crimson;
}
.menu-wrapper ul li a
{
	text-decoration: none;	/* hide link underline */
	padding: 0 20px;
	display: block;
}
.menu-wrapper ul li a:hover
{
	text-decoration: none;
}
.menu-wrapper ul li:hover
{
	background: BurlyWood;
	-webkit-box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.4) inset, 0px 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.4) inset, 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.45);
	border-right: 1px solid rgba(255, 255, 255, 0.45);
	margin: 0 -1px;
	position: relative;
	z-index: 10;
}
.menu-wrapper ul .selected, .menu-wrapper ul .selected:hover {
	border-left: 1px solid rgba(255, 255, 255, 0.37);
	border-right: 1px solid rgba(255, 255, 255, 0.37);
	-webkit-box-shadow: inset 0px 3px 8px rgba(25, 30, 35, 0.3);
	box-shadow: inset 0px 3px 8px rgba(25, 30, 35, 0.3);
	margin: 0 0;
}
.content-wrap {
	padding: 0 0px;
	margin: 0 auto;
}

.page-header-separator
{
	clear: both;
	height: 0px;
}

.error-box {
    clear:both;
    background-color: red;
    margin-top:8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px white solid;
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    display: none;
}

.vaporware
{
	color: transparent;
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.segment
{
    display: table;
    table-layout: fixed;
    width: 98%;
    clear: both;
    overflow: auto;
    padding: 0;
    background-color: transparent;
    margin: 10px auto;
    /*
    border: 1px;
    border-style: outset;
    */
    border-color: navy;
    border-bottom-color: khaki;
    box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.side-header
{
    margin: 0;
    padding: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    background-color: PaleTurquoise;
}

.side-header-at-left
{
    /*
    side-header-at-left.width + GAP = content-at-right.margin-left
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-left {
    float: left;
    text-align: right;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.side-header-at-right {
    /*
     side-header-at-right.width + GAP = content-at-left.margin-right
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-right {
    float: right;
    text-align: right;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
    /*
    Can't get it right just yet...
    for now, relying on content-at-left.border-right :-p
    */
    /* border-left: 1px solid gray; */
}

.side-header-paragraph {
    margin: 0 0 0.6em 0;
}

.side-text { font-family: Arvo; font-size: 20px; font-weight: bold; color: darkred; }

.side-text-at-left  {text-shadow: -0.2em 0.2em 0.2em gray}
.side-text-at-right {text-shadow: 0.2em 0.2em 0.2em gray}

.side-links {
    font-size: 0.75em;
    font-family: Karla;
    margin-top: 1.5em;
    margin-bottom: 0em;
}
.side-links ul {
    padding-left: 0px;
    list-style:none;
}
.side-links a {
    text-decoration: none;	/* hide link underline */
}

.content {
    padding: 10px;
}

.content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.content-at-left {
    padding-right: 20px;
    /* float: left; // this makes the right border finish midways :-p */
}

.content-at-left {
    /*
    see: .side-header-at-right.width
    */
    margin-right: 106px;
}

.content-at-right {
    padding-left: 20px;
    /*	float: right;  // this pushes content down somehow :-p */
}

.content-at-right {
    /*
    see: .side-header-at-left.width
    */
    margin-left: 106px;
}

.page-footer
{
	width: 98%;
	padding: 4px;
}

.footer
{
    font-family: Karla;
    font-size: xx-small;
    text-align: left;
    padding: 1em;
}

.indicator {
	background: aquamarine;
	border-radius: 4px;
	padding: 3px;	/* distance from text to border */
}

a.indicator {
    text-decoration: none;	/* hide link underline */
}

.instructions-and-explanations {
    font-family: Arvo;
}

.purpose-of-this-section {
    font-family: Arvo;
    font-size: x-large;
    color: coral;
}

a.target-button
{
    font-family: Arvo;
    display: inline-block;
    border-radius: 10px;
    border-color: Gray;
    border-style: solid;
    background: #f7f7f7;
    margin: 1px;
    padding: 8px;	/* distance from text to border */
    text-decoration: none;	/* hide link underline */
    outline: none; /* hide dotted outline in Firefox */
}
a.target-button:focus, a.target-button:hover
{
	border-color: LightSteelBlue;
	background: LightYellow;
}

#tag-segment {
    display: none;
}

a.instructions-and-explanations
{
	text-decoration: none;	/* hide link underline */
}

.steamside-animated
{
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
}

.floatingpad {
	background-color: PowderBlue;
	padding: 0.5em;
	border-radius: 0.1em;
}

.free-form-text {
    font-size: 0.9em;
    font-family: Karla;
}

.attention
{
    background-color: lightgoldenrodyellow;
    padding: 1em;
}

.question
{
    color: darkslategray;
}


