html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100%;  /* only works without a shadow DOM i.e. customary.config.construct.shadowRootDont: true */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.tippy-box[data-theme~='error'] {
    background-color: darkred;
    color: gold;
}
