.page-header-separator
{
	clear: both;
	height: 0px;
}

.vaporware
{
	color: transparent;
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.side-header-at-left
{
    /*
    side-header-at-left.width + GAP = content-at-right.margin-left
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-left {
    float: left; /* keeps header plate tucked nicely at the top left corner */
    text-align: right;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.side-header-at-right {
    /*
     side-header-at-right.width + GAP = content-at-left.margin-right
    */
    width: 80px;
    display: table-cell;
}

.side-header-at-right {
    float: right;
    text-align: right;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
    /*
    Can't get it right just yet...
    for now, relying on content-at-left.border-right :-p
    */
    /* border-left: 1px solid gray; */
}

.side-header-paragraph {
    margin: 0 0 0.6em 0;
}

.content {
    padding: 10px;
}

.content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.content-at-left {
    padding-right: 20px;
    /* float: left; // this makes the right border finish midways :-p */
}

.content-at-left {
    /*
    see: .side-header-at-right.width
    */
    margin-right: 106px;
}

.content-at-right {
    padding-left: 20px;
    /*	float: right;  // this pushes content down somehow :-p */
}

.content-at-right {
    /*
    see: .side-header-at-left.width
    */
    margin-left: 106px;
}

.indicator {
	background: aquamarine;
	border-radius: 4px;
	padding: 3px;	/* distance from text to border */
}

a.indicator {
    text-decoration: none;	/* hide link underline */
}

.instructions-and-explanations {
    font-family: Arvo;
}

.purpose-of-this-section {
    font-family: Arvo;
    font-size: x-large;
    font-weight: bold;
    color: coral;
}

a.instructions-and-explanations
{
	text-decoration: none;	/* hide link underline */
}

.sideshow-animate-css
{
	--animate-duration: 200ms;
	--animation-duration: 200ms;
}

.floatingpad {
	background-color: PowderBlue;
	padding: 0.5em;
	border-radius: 0.1em;
}

.question
{
    color: darkslategray;
}

.start-game-banner, .game-over-banner
{
    border-radius: 50%;
    border-color: silver;
    border-width: 8px;
    border-style: outset;
    box-shadow: 0 0 0 1px navy;
    font-family: Jura, monospace;
    text-align: center;
    font-weight: bold;
}

a.low-key-clickable {
    text-decoration: none;	/* hide link underline */
}

.game-over-banner {
    background: gold;
    padding: 1em;
}

.enamel-plate
{
    background-color: aquamarine;
    border-radius: 4px;
    border: crimson solid 2px;
    box-shadow: 0 0 0 1px navy;
}
