<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p (%F:%L) %m%n"/>
		</layout>
	</appender>

	<logger name="jndi">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.eclipse.jetty">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.core.env.StandardEnvironment">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	


	<logger name="org.springframework.beans.factory.annotation.InjectionMetadata">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.beans.factory">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.ui.context.support.UiApplicationContextUtils">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.web.context.support.AnnotationConfigWebApplicationContext">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.web.context.support.StandardServletEnvironment">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.web.servlet">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.apache.commons.vfs2.impl.StandardFileSystemManager">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.apache.commons.vfs2">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.apache.http">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.core.env">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.jndi">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="br.com.arbo.steamside">
		<level value="all" />
		<appender-ref ref="CONSOLE" />
	</logger>
</log4j:configuration>