.page-header
{
    margin: 0px auto;
    width: 100%;
}
.page-header-logo-section
{
    float:left;
}
.page-header-logo
{
    float:left;
}
.page-header-stamp
{
    background-color: aquamarine;
    border-radius: 4px;
    border: crimson solid 2px;
    box-shadow: 0 0 0 1px navy;
    padding: 8px;
}
.page-header-name
{
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}
.page-header-name-text
{
    font-family: Jura;
    font-weight: bold;
    font-size: 2em;
    color: darkred;
}

.menu-wrapper
{
    font-family: Arvo;
    font-size: 1em;
    float: right;
    height: 50px;
    line-height: 50px;
}
.menu-wrapper ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}
.menu-wrapper ul li {
    float: left;
    height: 50px;
    line-height: 50px;
}
.menu-wrapper ul .split {
    width: 1px;
    background: Crimson;
}
.menu-wrapper ul li a
{
    text-decoration: none;	/* hide link underline */
    padding: 0 20px;
    display: block;
}
.menu-wrapper ul li a:hover
{
    text-decoration: none;
}
.menu-wrapper ul li:hover
{
    background: BurlyWood;
    -webkit-box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.4) inset, 0px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.4) inset, 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.45);
    border-right: 1px solid rgba(255, 255, 255, 0.45);
    margin: 0 -1px;
    position: relative;
    z-index: 10;
}
.menu-wrapper ul .selected, .menu-wrapper ul .selected:hover {
    border-left: 1px solid rgba(255, 255, 255, 0.37);
    border-right: 1px solid rgba(255, 255, 255, 0.37);
    -webkit-box-shadow: inset 0px 3px 8px rgba(25, 30, 35, 0.3);
    box-shadow: inset 0px 3px 8px rgba(25, 30, 35, 0.3);
    margin: 0 0;
}

.content-wrap {
    padding: 0 0px;
    margin: 0 auto;
}

.kids-greeting {
    font-family: Arvo;
    font-size: 2.5em;
    font-weight: bolder;
    color: cornflowerblue;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}
