#SteamsideCollectionInfoView #count {
    font-size: x-small;
    margin-left: 16px;
}

.collection-pick-steam-category {
    float: left;
    margin-left: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.75em;
}
