.collection-pick {
}

.collection-tile-DISCONTINUED {
    background-color: navajowhite;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid;
    border-color: aqua;
    padding: 5px;
    float: left;
    font-family: "Karla";
}

#SteamsideCollectionInfoView #count {
    font-size: x-small;
    margin-left: 16px;
}

.collection-pick-steam-category {
    float: left;
    margin-left: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.75em;
}