.steamside-kids-body-background {

	/*
	http://lea.verou.me/css3patterns/#zig-zag
	*/

	background:
		linear-gradient(135deg, white 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, white 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, white 25%, transparent 25%),
		linear-gradient(45deg, white 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #EC173A;

}

.kids-greeting {
	font-family: Arvo;
	font-size: 60px;
	font-weight: bolder;
	color: cornflowerblue;
}
